<mat-toolbar class="nav">
  <div>
    <img class="logo" src="../../../assets/Logo.png" alt="Bincom-Logo" width="70px">
  </div>
</mat-toolbar>
<div class="wrapper">


  <div>
      <h1 class="heading">Bincom Dev Center</h1>
  </div>

  <div class="container">
      <div class="title">Create an account</div>

      <form action="#">
          <div class="user-details">
              <div class="input-box">
                  <span class="details">First Name</span>
                  <input type="text" placeholder="Enter Firstname" name="Firstname" id="Firstname" required>
              </div>

              <div class="input-box">
                  <span class="details">Last Name</span>
                  <input type="text" placeholder="Enter Lastname" name="Lastname" id="Lastname" required>
              </div>

              <div class="input-box">
                  <span class="details">Email Address</span>
                  <input type="text" placeholder="Enter Email" name="email" id="email" required>
              </div>

              <div class="input-box">
                  <span class="details">Select your team</span>
                  <div class="category">
                      <select id="Team">
                          <option value="Mobileapp"> Select your team</option>
                          <option value="Mobileapp"> Mobile app</option>
                          <option value="Backend"> Backend</option>
                          <option value="Projectmanagement"> Project Management</option>
                      </select>
                  </div>
              </div>

              <div class="input-box">
                  <span class="details">Password</span>
                  <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
              </div>

              <div class="input-box">
                  <span class="details">Confirm Password</span>
                  <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
              </div>

          </div>


          <div class="button">
              <input type="submit" value="Submit">
          </div>


      </form>
  </div>
</div>
